accelerate=0.18.0=pypi_0
bert-score=0.3.13=pypi_0
bleach=6.0.0=pyhd8ed1ab_0
chardet=5.2.0=pypi_0
click=8.1.3=pypi_0
datasets=2.10.1=pypi_0
en-core-web-sm=2.3.1=pypi_0
fqdn=1.5.1=pypi_0
ipywidgets=8.0.5=pyhd8ed1ab_0
jupyterlab=4.0.7=pypi_0
jupyterlab_widgets=3.0.6=pyhd8ed1ab_0
keras=2.13.1=pypi_0
neuralcoref=4.0=dev_0
nltk=3.8.1=pypi_0
numpy=1.24.2=py38hac8ee1c_0
pandas=1.5.3=py38h61dac83_0
rouge-score=0.1.2=pypi_0
spacy=2.3.9=pypi_0
tensorflow=2.13.0=pypi_0
torch=2.1.0=pypi_0
tqdm=4.65.0=pypi_0
transformers=4.27.3=pypi_0
widgetsnbextension=4.0.6=pyhd8ed1ab_0

